.nav {
  width: 300px;
  margin-left: 0px;
  z-index: 10;
  background-color: #fff;
  position: absolute;
  -webkit-transform: translate(-300px, 0);
  transform: translate(-300px, 0);
  transition: transform 0.3s ease;
}

.nav.open {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.nav__item {
  display: block;
  text-align: left;
  width: 100%;
  border-bottom: 1px solid #616161;
  border-right: 1px solid #616161;
}

#menu {
  display: block;
}

.header__logo {
  height: 50px;
}

.header__title {
  font-size: 2em;
  vertical-align: bottom;
}
